<%= content_for(:head_extra) do %>
<style type="text/css">
body {
  background-image: url(<%= asset_path('bg/main-banner.jpg') %>);
  background-size: cover;
}
</style>
<% end %>
<section class="section">
  <div class="container container-xs">
    <div class="row">
      <div class="col-sm-12 page-title">
        <h1 style="color: white;">Create your account</h1>
      </div>
    </div>
    <div class="white-bg-box">
      <%= simple_form_for(@user, as: :patient_user, url: registration_path(:patient_user)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :type, :as => :hidden, input_html: { :value => 'PatientUser' } %>
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.input :first_name, label: false, required: true, autofocus: true, input_html: { class: 'form-control form-icon icon-name', placeholder: 'First name' } %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.input :last_name, label: false, required: true, input_html: { class: 'form-control form-icon icon-name', placeholder: 'Last name' } %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.input :password, label: false, required: true, autofocus: true,  hint: ("#{@minimum_password_length} characters minimum" if @validatable), input_html: { class: 'form-control form-icon', placeholder: 'Password' } %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.input :password_confirmation, label: false, required: true, input_html: { class: 'form-control form-icon', placeholder: 'Confirm Password' } %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.input :email, label: false, required: true, input_html: { class: 'form-control form-icon icon-email', placeholder: 'Email' } %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.input :birthdate, label: false, as: :date, input_html: { class: 'form-control' }, wrapper_html: { class: 'date-select' } %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center double-box-btns">
            <button type="submit" class="btn btn-warning">Sign up</button>
          </div>
        </div>
        <div class="push-top-30 text-center">
          Want to set up a Doctor account? <a href="<%= new_doctor_user_registration_path %>">Click here</a>.
        </div>
      <% end %>
    </div>
  </div>
</section>
