<div class="stars-box">
  <span class="star star-5<%= score == 5 ? ' active' : '' %>"></span>
  <span class="star star-4<%= score == 4 ? ' active' : '' %>"></span>
  <span class="star star-3<%= score == 3 ? ' active' : '' %>"></span>
  <span class="star star-2<%= score == 2 ? ' active' : '' %>"></span>
  <span class="star star-1<%= score == 1 ? ' active' : '' %>"></span>
</div>
