<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-title">
				<h2>Top categories</h2>
				<h5>Ribeye cupim fatback tail &amp; bacon pork </h5>
			</div>
		</div>
		<div class="row top-categories-grid">
			<div class="col-sm-8" style="background-image: url(<%= asset_path('categories/top-1.jpg') %>);">
				<div class="box-default">
					<div class="vertical-align">
						<h3>Hair Treatments</h3>
					</div>
				</div>
				<div class="box-hover">
					<div class="vertical-align">
						<p class="cat-title">Hair Treatments</p>
						<div class="cat-descript">
							Short loin picanha beef ribs, turkey flank
							bal kielbasa. Pork bely pastrami sirloin
							pare ribs tip. Pork loin doner ham sausage
							drumstick sausage. Pig drumstick cupim
							round, shankle ham cow leberkas t-bone
						</div>
						<a href="#" class="btn btn-border-white">find out more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4" style="background-image: url(<%= asset_path('categories/top-2.jpg') %>);">
				<div class="box-default">
					<div class="vertical-align">
						<h3>Skin Treatments</h3>
					</div>
				</div>
				<div class="box-hover">
					<div class="vertical-align">
						<p class="cat-title">Skin Treatments</p>
						<div class="cat-descript">
							Short loin picanha beef ribs, turkey flank
							bal kielbasa. Pork bely pastrami sirloin
							pare ribs tip. Pork loin doner ham sausage
							drumstick sausage. Pig drumstick cupim
							round, shankle ham cow leberkas t-bone
						</div>
						<a href="#" class="btn btn-border-white">find out more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4" style="background-image: url(<%= asset_path('categories/top-3.jpg') %>);">
				<div class="box-default">
					<div class="vertical-align">
						<h3>Botox</h3>
					</div>
				</div>
				<div class="box-hover">
					<div class="vertical-align">
						<p class="cat-title">Botox</p>
						<div class="cat-descript">
							Short loin picanha beef ribs, turkey flank
							bal kielbasa. Pork bely pastrami sirloin
							pare ribs tip. Pork loin doner ham sausage
							drumstick sausage. Pig drumstick cupim
							round, shankle ham cow leberkas t-bone
						</div>
						<a href="#" class="btn btn-border-white">find out more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4" style="background-image: url(<%= asset_path('categories/top-4.jpg') %>);">
				<div class="box-default">
					<div class="vertical-align">
						<h3>Massage</h3>
					</div>
				</div>
				<div class="box-hover">
					<div class="vertical-align">
						<p class="cat-title">Massage</p>
						<div class="cat-descript">
							Short loin picanha beef ribs, turkey flank
							bal kielbasa. Pork bely pastrami sirloin
							pare ribs tip. Pork loin doner ham sausage
							drumstick sausage. Pig drumstick cupim
							round, shankle ham cow leberkas t-bone
						</div>
						<a href="#" class="btn btn-border-white">find out more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4" style="background-image: url(<%= asset_path('categories/top-5.jpg') %>);">
				<div class="box-default">
					<div class="vertical-align">
						<h3>Botox &amp; dermal fillers</h3>
					</div>
				</div>
				<div class="box-hover">
					<div class="vertical-align">
						<p class="cat-title">Botox &amp; dermal fillers</p>
						<div class="cat-descript">
							Short loin picanha beef ribs, turkey flank
							bal kielbasa. Pork bely pastrami sirloin
							pare ribs tip. Pork loin doner ham sausage
							drumstick sausage. Pig drumstick cupim
							round, shankle ham cow leberkas t-bone
						</div>
						<a href="#" class="btn btn-border-white">find out more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section feature-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 section-title">
				<h2>About the service</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 feature-carousel">
				<div class="feature-box">
					<div class="icon"><img src="<%= asset_path('icon-1.png') %>" alt="icon" width="90"></div>
					<h3>24/7 availability</h3>
					<div class="descript">
						<p>Ham hock short loin capicola ba sirloin pastrami.
						Beef ribs tri-tip landjaeger sausage, ham doner
						chuck pork belly. Alcatra turducken ball tip
						hamburger, beef ribs corned beef kielbasa
						biltong shank. Landjaeger fatback cow hambur.</p>
					</div>
				</div>
				<div class="feature-box">
					<div class="icon"><img src="<%= asset_path('icon-2.png') %>" alt="icon" width="90"></div>
					<h3>Advanced technology</h3>
					<div class="descript">
						<p>Prosciutto ribeye beef sirloin pork fatback strip
						steak bacon filet mignon pork loin picanha spare
						ribs. Ham salami pancetta kevin spare ribs. Kevin
						short ribs t-bone fatback pastrami boudin short
						loin spare ribs pig tri-tip shank ham hock picanh.</p>
					</div>
				</div>
				<div class="feature-box">
					<div class="icon"><img src="<%= asset_path('icon-3.png') %>" alt="icon" width="90"></div>
					<h3>Quakified doctors</h3>
					<div class="descript">
						<p>Turkey shank pancetta ham hock pork pastrami
						pork loin prosciutto. Filet mignon landjaeger ball
						capicola frankfurter, porchetta drumstick jowle
						boudin pork belly bresaola cow pig alcatra tip.
						Rump tenderloin sausage beeef ribs.</p>
					</div>
				</div>
				<div class="feature-box">
					<div class="icon"><img src="<%= asset_path('icon-1.png') %>" alt="icon" width="90"></div>
					<h3>24/7 availability</h3>
					<div class="descript">
						<p>Ham hock short loin capicola ba sirloin pastrami.
						Beef ribs tri-tip landjaeger sausage, ham doner
						chuck pork belly. Alcatra turducken ball tip
						hamburger, beef ribs corned beef kielbasa
						biltong shank. Landjaeger fatback cow hambur.</p>
					</div>
				</div>
				<div class="feature-box">
					<div class="icon"><img src="<%= asset_path('icon-2.png') %>" alt="icon" width="90"></div>
					<h3>Advanced technology</h3>
					<div class="descript">
						<p>Prosciutto ribeye beef sirloin pork fatback strip
						steak bacon filet mignon pork loin picanha spare
						ribs. Ham salami pancetta kevin spare ribs. Kevin
						short ribs t-bone fatback pastrami boudin short
						loin spare ribs pig tri-tip shank ham hock picanh.</p>
					</div>
				</div>
				<div class="feature-box">
					<div class="icon"><img src="<%= asset_path('icon-3.png') %>" alt="icon" width="90"></div>
					<h3>Quakified doctors</h3>
					<div class="descript">
						<p>Turkey shank pancetta ham hock pork pastrami
						pork loin prosciutto. Filet mignon landjaeger ball
						capicola frankfurter, porchetta drumstick jowle
						boudin pork belly bresaola cow pig alcatra tip.
						Rump tenderloin sausage beeef ribs.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-title">
				<h2>Top Doctors</h2>
				<h5>Best of the best Doctors ever</h5>
			</div>
		</div>
		<div class="row top-doctors-list">
			<div class="col-sm-3">
				<div class="doctor-box" style="background-image: url(<%= asset_path('doctors/doctor-1.jpg') %>);">
					<div class="doctor-info">
						<h4>Doctor Dre</h4>
						<p class="vocation">Dermatologist</p>
						<div class="hover">
							<div class="stars-box">
								<span class="star star-5 active"></span>
								<span class="star star-4"></span>
								<span class="star star-3"></span>
								<span class="star star-2"></span>
								<span class="star star-1"></span>
							</div>
							<p class="address">51 Central PaW, New York, NY 10023</p>
							<div class="map-wrap"><img src="<%= asset_path('map-img.png') %>" width="233" alt=""></div>
							<div class="location-time">35 minutes , from your location</div>
							<p><a class="btn btn-border-white" href="#">find out more</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="doctor-box" style="background-image: url(<%= asset_path('doctors/doctor-2.jpg') %>);">
					<div class="doctor-info">
						<h4>Dr. Jade Ramoray</h4>
						<p class="vocation">Plastic surgeon</p>
						<div class="hover">
							<div class="stars-box">
								<span class="star star-5 active"></span>
								<span class="star star-4"></span>
								<span class="star star-3"></span>
								<span class="star star-2"></span>
								<span class="star star-1"></span>
							</div>
							<p class="address">51 Central PaW, New York, NY 10023</p>
							<div class="map-wrap"><img src="<%= asset_path('map-img.png') %>" width="233" alt=""></div>
							<div class="location-time">35 minutes , from your location</div>
							<p><a class="btn btn-border-white" href="#">find out more</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="doctor-box" style="background-image: url(<%= asset_path('doctors/doctor-3.jpg') %>);">
					<div class="doctor-info">
						<h4>Doc Nicole Raimondo</h4>
						<p class="vocation">Cosmetologist</p>
						<div class="hover">
							<div class="stars-box">
								<span class="star star-5 active"></span>
								<span class="star star-4"></span>
								<span class="star star-3"></span>
								<span class="star star-2"></span>
								<span class="star star-1"></span>
							</div>
							<p class="address">51 Central PaW, New York, NY 10023</p>
							<div class="map-wrap"><img src="<%= asset_path('map-img.png') %>" width="233" alt=""></div>
							<div class="location-time">35 minutes , from your location</div>
							<p><a class="btn btn-border-white" href="#">find out more</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="doctor-box" style="background-image: url(<%= asset_path('doctors/doctor-4.jpg') %>);">

				</style>>
					<div class="doctor-info">
						<h4>Dr. Minato Kawasaki</h4>
						<p class="vocation">Masseur</p>
						<div class="hover">
							<div class="stars-box">
								<span class="star star-5 active"></span>
								<span class="star star-4"></span>
								<span class="star star-3"></span>
								<span class="star star-2"></span>
								<span class="star star-1"></span>
							</div>
							<p class="address">51 Central PaW, New York, NY 10023</p>
							<div class="map-wrap"><img src="<%= asset_path('map-img.png') %>" width="233" alt=""></div>
							<div class="location-time">35 minutes , from your location</div>
							<p><a class="btn btn-border-white" href="#">find out more</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section padd-top-none">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 section-title">
				<h2>From the Blog</h2>
			</div>
		</div>
		<div class="row blog-list-short">
			<div class="col-sm-4">
				<div class="post-item">
					<a class="img" href="#">
						<img src="<%= asset_path('posts/post-1.jpg') %>" width="390" alt="">
						<div class="meta">
							<span class="date">Aug 24 2015</span>
							<span class="comments"><i class="fa fa-comment-o"></i> 24</span>
						</div>
					</a>
					<div class="post-info">
						<h4><a href="#">Rump tenderloin sausage</a></h4>
						<div class="excerpt">Ham hock short loin capicola ba sirloin
						short loin spare ribs pig tri-tip shank ham
						jowl boudin pork belly cow pig...</div>
						<a class="more-link" href="#">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="post-item">
					<a class="img" href="#">
						<img src="<%= asset_path('posts/post-2.jpg') %>" width="390" alt="">
						<div class="meta">
							<span class="date">Aug 23 2015</span>
							<span class="comments"><i class="fa fa-comment-o"></i> 15</span>
						</div>
					</a>
					<div class="post-info">
						<h4><a href="#">Tenderloin cupim chuck chicken</a></h4>
						<div class="excerpt">Ham hock short loin flank beef ribs ball tip
						filet mignon beef kielbasa swine leberkas
						jowl boudin prosciutto drumstick bacon...</div>
						<a class="more-link" href="#">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="post-item">
					<a class="img" href="#">
						<img src="<%= asset_path('posts/post-3.jpg') %>" width="390" alt="">
						<div class="meta">
							<span class="date">Aug 21 2015</span>
							<span class="comments"><i class="fa fa-comment-o"></i> 38</span>
						</div>
					</a>
					<div class="post-info">
						<h4><a href="#">Tenderloin cupim chuck chicken</a></h4>
						<div class="excerpt">Frankfurter short ribs prosciutto venison
						pancetta t-bone. filet mignon beef kielbasa
						owl boudin prosciutto loin tail...</div>
						<a class="more-link" href="#">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section padd-top-none">
	<div class="container">
		<div class="row blog-list-short">
			<div class="post-item bigger">
				<div class="col-md-4 col-sm-6 post-info">
					<h4>Story of the week</h4>
					<h5>Corned beef jerky swine t-bone.</h5>
					<div class="excerpt">Frankfurter short ribs prosciutto venison
					pancetta t-bone. filet mignon beef kielbasa
					owl boudin prosciutto loin tail...</div>
					<a class="more-link" href="#">Read more</a>
				</div>
				<div class="col-md-8 col-sm-6">
					<a class="big-img" href="#"><img src="<%= asset_path('banner-1.jpg') %>" width="780" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="footer-callout">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 left-side">
				Need <a href="#">Help</a> booking Online?
			</div>
			<div class="col-sm-7 right-side">
				<a class="phone" href="tel:8559623621">855 962 36 21</a>
				<a class="envelope" href="mailto:service@medical.booking.com">Service@medical.booking.com</a>
			</div>
		</div>
	</div>
</div>
