<%
if (!params[:header_template])
  params[:header_template] = 'header_default';
end
%>
<!DOCTYPE html>
<html>
<head>
  <title>MedicalBooking</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,600,700,500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header <%= params[:header_template] %>">
<%= render partial: 'layouts/' + params[:header_template] %>
</header>
<% if flash.count > 0 %>
  <div class="container flash-messages">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= alert_type(key) %>"><%= value %></div>
  <% end %>
  </div>
<% end %>
<%= yield %>
<% if !signed_in? %>
<%= render partial: 'layouts/footer' %>
<%= render partial: 'shared/popup_signup' %>
<%= render partial: 'shared/popup_login' %>
<%= render partial: 'shared/popup_reset_password' %>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
